In [1]:
import pickle
import sys
import os
import numpy as np
import pandas as pd

direc =  '/is/ps2/calvarez2/zebra_project/original Silvia/'

pickle_name = 'singleImages.pickle'#'exportedAnimalAnnotations-23052018-195922.pickle' #'exportedAnimalAnnotations-22052018-155952.pickle'#'exportedAnimalAnnotations-21042018-183211.pickle'

pickle_file = pickle.load(open(direc + pickle_name, "rb"))

In [2]:
pickle_file.keys()

['single_images_00', 'single_images_01', 'single_images_03']

In [3]:
import re
#Methods to sort as human expect
def tryint(s):
    try:
        return int(s)
    except:
        return s
    
def alphanum_key(s):
    """ Turn a string into a list of string and number chunks.
        "z23a" -> ["z", 23, "a"]
    """
    return [ tryint(c) for c in re.split('([0-9]+)', s) ]

def sort_nicely(l):
    """ Sort the given list in the way that humans expect.
    """
    l.sort(key=alphanum_key)
    
#-----------------------------------------------------------------

In [4]:
keys = pickle_file.keys()
sort_nicely(keys)
keys

['single_images_00', 'single_images_01', 'single_images_03']

## For videos

In [5]:
videos = pickle_file.keys()

clip = videos[0]
frame = pickle_file[clip].keys()[0]
body_parts = pickle_file[clip][frame]['absoluteLocations'].keys()


for video in videos:
    print video

    
    #CREATE .XLS FILE FOR EACH BODY PART IN EACH VIDEO  !!!!
    for body_part in body_parts:
        
        
        frames = pickle_file[video].keys()
        sort_nicely(frames)
        X = []
        Y = []
        modes = []
        
        for frame in frames:
            #print frame         
            y,x = pickle_file[video][frame]['absoluteLocations'][body_part].values()
            mode = pickle_file[video][frame]['modes'][body_part]
            #Append values to list
            X.append(x)
            Y.append(y)
            modes.append(mode)
            
            
            #if (frame == 34390):
            #    break           
        
        #Create dataframe
        d = {'X': X, 'Y': Y, 'mode': modes}
        df = pd.DataFrame(data=d)
        
        #Save dataframe
        df.to_csv('data-pavel/' +video + '/' + body_part + '.xls', sep='\t')  #remove pavel_data
        
        #break
    
    if (video == 'single_images_00'):  # test only for the first 2 videos 
        break

single_images_00

In [21]:
pickle_file['single_images_00']['frame_05']['modes']#['absoluteLocations']#['tail tip'].values()

{u'back left ankle': 2,
 u'back left foot': 2,
 u'back left knee': 2,
 u'back left shoulder': 2,
 u'back right ankle': 2,
 u'back right foot': 2,
 u'back right knee': 2,
 u'back right shoulder': 2,
 u'chin': 2,
 u'front left ankle': 2,
 u'front left foot': 2,
 u'front left knee': 2,
 u'front left shoulder': 2,
 u'front right ankle': 2,
 u'front right foot': 2,
 u'front right knee': 2,
 u'front right shoulder': 2,
 u'left ear': 2,
 u'left eye': 2,
 u'neck': 2,
 u'nosetip': 2,
 u'right ear': 2,
 u'right eye': 2,
 u'tail start': 2,
 u'tail tip': 2}

In [7]:
#print [x.encode('ascii') for x in body_parts]

print map(lambda x: x.encode('ascii'), body_parts)

['tail tip', 'back right shoulder', 'tail start', 'front left knee', 'front left foot', 'chin', 'back right knee', 'left eye', 'front right ankle', 'nosetip', 'front right shoulder', 'front left shoulder', 'back left foot', 'right eye', 'back right ankle', 'left ear', 'front right knee', 'front right foot', 'back left shoulder', 'neck', 'front left ankle', 'back right foot', 'back left knee', 'right ear', 'back left ankle']

## Save and read

In [8]:
#To Save
d = {'X': X, 'Y': Y, 'mode': modes}
df = pd.DataFrame(data=d)
df.to_csv('output_dogs.xls', sep='\t')

#To read 
dframe=pd.read_csv('output_dogs.xls' ,sep='\t')
dframe.X.values.astype(float)
dframe

    Unnamed: 0           X           Y  mode
0            0  216.044776  625.739130     0
1            1  212.688822  256.972851     2
2            2  145.468998  255.278505     0
3            3  144.000000  683.000000     0
4            4  736.079404  581.721854     2
5            5   97.627119  464.253394     0
6            6  225.584416  614.177843     0
7            7  210.570071  509.032028     0
8            8   75.932203  564.705882     0
9            9  744.466019  479.300292     0
10          10  106.779661  528.393665     0
11          11  247.632509  549.687008     0
12          12  525.669643  360.745033     0
13          13  271.178138  707.608696     0
14          14  179.725610  526.678899     0
15          15  624.148607  514.819005     2

In [9]:
pickle_file.keys()

['single_images_00', 'single_images_01', 'single_images_03']

In [10]:
content = pickle_file.keys()
selection = 'zebrasingleimage'
filtered_keys = filter(lambda k: selection in k, content)
filtered_keys
#Puedo hacer esto mismo para la otra condicion y unir las dos listas de keys validas
#teniendo las keys puedo ya sea iterar entre las keys y leer cada file . 
#O una soluci'on mas sucia seria iterar sobre todo el pickle en un for y poner la condicion de que si es zebra ejecute sino que sontinu'e ocn la sgte iter

[]

In [11]:
sort_nicely(filtered_keys)
filtered_keys

[]