In [2]:
import pickle
import sys
import os
import numpy as np
import pandas as pd

direc =  '/is/ps2/calvarez2/zebra_project/original Silvia/'

pickle_name = 'exportedAnimalAnnotations-21042018-183211.pickle'

pickle_file = pickle.load(open(direc + pickle_name))

In [3]:
pickle_file['dog73'][34389].keys()  #'absoluteLocations']['tail tip']['x']#.keys()  #['locations']['tail tip'] #'absoluteLocations'

[u'absoluteLocations', u'locations', u'modes']

In [4]:
videos = pickle_file.keys()

clip = videos[0]
frame = pickle_file[clip].keys()[0]
body_parts = pickle_file[clip][frame]['absoluteLocations'].keys()


for video in videos:
    print video

    
    #CREATE .XLS FILE FOR EACH BODY PART IN EACH VIDEO  !!!!
    for body_part in body_parts:
        
        
        frames = pickle_file[video].keys()
        X = []
        Y = []
        modes = []
        
        for frame in frames:
            #print frame         
            x,y = pickle_file[video][frame]['absoluteLocations'][body_part].values()
            mode = pickle_file[video][frame]['modes'][body_part]
            #Append values to list
            X.append(x)
            Y.append(y)
            modes.append(mode)
            
            
            #if (frame == 34390):
            #    break           
        
        #Create dataframe
        d = {'X': X, 'Y': Y, 'mode': modes}
        df = pd.DataFrame(data=d)
        
        #Save dataframe
        df.to_csv('pavel_data/' +video + '/' + body_part + '.xls', sep='\t')  #remove pavel_data
        
        #break
    
    if (video == 'dog70'):  # test only for the first 2 videos 
        break

dog73
dog70

In [22]:
#print [x.encode('ascii') for x in body_parts]

print map(lambda x: x.encode('ascii'), body_parts)

['tail tip', 'tail start', 'front left knee', 'front left foot', 'chin', 'back right knee', 'left eye', 'front right ankle', 'nosetip', 'right shoulder', 'left shoulder', 'back left foot', 'right eye', 'back right ankle', 'left ear', 'front right knee', 'front right foot', 'neck', 'front left ankle', 'back right foot', 'back left knee', 'right ear', 'back left ankle']

## Save and read

In [7]:
#To Save
d = {'X': X, 'Y': Y, 'mode': modes}
df = pd.DataFrame(data=d)
df.to_csv('output_dogs.xls', sep='\t')

#To read 
dframe=pd.read_csv('output_dogs.xls' ,sep='\t')
dframe.X.values.astype(float)
dframe

   Unnamed: 0           X           Y  mode
0           0   79.973475  195.230999     0
1           1   75.198939  198.807750     0
2           2   69.827586  201.192250     0
3           3   78.779841  201.788376     0
4           4  105.039788  194.634873     0
5           5  105.636605  192.846498     0
6           6  105.636605  195.230999     0
7           7  113.992042  197.019374     0
8           8  111.604775  202.384501     0
9           9  109.814324  203.576751     0