In [1]:
import pickle
import sys
import os
import numpy as np
import pandas as pd

sys.path.append(os.getcwd().split('Generating_a_Training_Set')[0])
from myconfig import Task, bodyparts, Scorers, invisibleboundary

direc =  '/is/ps2/calvarez2/zebra_project/original Silvia/'

pickle_name = 'singleImages.pickle'#'exportedAnimalAnnotations-23052018-195922.pickle' #'exportedAnimalAnnotations-22052018-155952.pickle'#'exportedAnimalAnnotations-21042018-183211.pickle'

pickle_file = pickle.load(open(direc + pickle_name, "rb"))

basefolder='data-'+Task+'/'

In [2]:
pickle_file.keys()

['single_images_00', 'single_images_01', 'single_images_03']

In [3]:
import re
#Methods to sort as human expect
def tryint(s):
    try:
        return int(s)
    except:
        return s
    
def alphanum_key(s):
    """ Turn a string into a list of string and number chunks.
        "z23a" -> ["z", 23, "a"]
    """
    return [ tryint(c) for c in re.split('([0-9]+)', s) ]

def sort_nicely(l):
    """ Sort the given list in the way that humans expect.
    """
    l.sort(key=alphanum_key)
    
#-----------------------------------------------------------------

In [4]:
keys = pickle_file.keys()
sort_nicely(keys)
keys

['single_images_00', 'single_images_01', 'single_images_03']

## For videos

In [5]:
videos = pickle_file.keys()

clip = videos[0]
frame = pickle_file[clip].keys()[0]
body_parts = pickle_file[clip][frame]['absoluteLocations'].keys()


for video in videos:
    print video

    
    #CREATE .XLS FILE FOR EACH BODY PART IN EACH VIDEO  !!!!
    for body_part in body_parts:
        
        
        frames = pickle_file[video].keys()
        sort_nicely(frames)
        X = []
        Y = []
        imageaddress = []
        
        modes = []
        
        for frame in frames:
            #print frame         
            y,x = pickle_file[video][frame]['absoluteLocations'][body_part].values()
            mode = pickle_file[video][frame]['modes'][body_part]
            #Append values to list
            X.append(x)
            Y.append(y)
            imageaddress.append(video+'/'+'frame' + filter(str.isdigit, frame)+ '.png')
            modes.append(mode)
            
            
            #if (frame == 34390):
            #    break           
        
        #Create dataframe
        d = {'name': imageaddress , 'X': X, 'Y': Y, 'mode': modes }
        df = pd.DataFrame(data=d)
        
        #Save dataframe
        df.to_csv(basefolder +video + '/' + body_part + '.xls', sep='\t')  #remove pavel_data
        
        #break
    
    #if (video == 'single_images_00'):  # test only for the first 2 videos 
     #   break

single_images_00
single_images_01
single_images_03

In [7]:
pickle_file['single_images_00']['frame_05']['modes']#['absoluteLocations']#['tail tip'].values()

{u'back left ankle': 2,
 u'back left foot': 2,
 u'back left knee': 2,
 u'back left shoulder': 2,
 u'back right ankle': 2,
 u'back right foot': 2,
 u'back right knee': 2,
 u'back right shoulder': 2,
 u'chin': 2,
 u'front left ankle': 2,
 u'front left foot': 2,
 u'front left knee': 2,
 u'front left shoulder': 2,
 u'front right ankle': 2,
 u'front right foot': 2,
 u'front right knee': 2,
 u'front right shoulder': 2,
 u'left ear': 2,
 u'left eye': 2,
 u'neck': 2,
 u'nosetip': 2,
 u'right ear': 2,
 u'right eye': 2,
 u'tail start': 2,
 u'tail tip': 2}

In [8]:
#print [x.encode('ascii') for x in body_parts]

print map(lambda x: x.encode('ascii'), body_parts)

['tail tip', 'back right shoulder', 'tail start', 'front left knee', 'front left foot', 'chin', 'back right knee', 'left eye', 'front right ankle', 'nosetip', 'front right shoulder', 'front left shoulder', 'back left foot', 'right eye', 'back right ankle', 'left ear', 'front right knee', 'front right foot', 'back left shoulder', 'neck', 'front left ankle', 'back right foot', 'back left knee', 'right ear', 'back left ankle']

## Save and read

In [9]:
#To Save
d = {'X': X, 'Y': Y, 'mode': modes}
df = pd.DataFrame(data=d)
df.to_csv('output_dogs.xls', sep='\t')

#To read 
dframe=pd.read_csv('output_dogs.xls' ,sep='\t')
dframe.X.values.astype(float)
dframe

     Unnamed: 0           X           Y  mode
0             0  439.830508  378.813559     0
1             1  521.837349  369.230769     2
2             2  251.336082  445.540447     0
3             3  204.858625  503.448268     0
4             4   81.890459  528.381963     0
5             5  779.447311  446.324103     2
6             6  648.795181  482.530120     0
7             7  336.111087  376.984079     0
8             8  406.067110  409.105603     0
9             9  428.235424  436.300348     2
10           10  473.851590  380.371353     0
11           11  198.112635  519.270829     0
12           12  250.971699  470.026517     0
13           13  767.605205  448.695645     2
14           14  224.795025  560.299237     0
15           15  442.372881  538.983051     0
16           16  504.653683  558.707725     0
17           17  457.310909  486.050409     2
18           18  397.526502  490.185676     0
19           19  526.829268  463.287595     2
20           20  796.499732  474.109539     0
21           21  663.869258  600.000000     0
22           22  517.441282  371.294107     2
23           23  263.144963  314.391144     0
24           24  604.511278  320.300752     0
25           25  460.169492  500.847458     0
26           26  394.346290  480.636605     0
27           27  389.675305  456.681030     0
28           28  465.901060  480.636605     0
29           29  499.392619  491.694293     2
..          ...         ...         ...   ...
286         286  767.021174  415.471651     2
287         287  443.639576  377.188329     0
288         288  298.028556  475.879817     0
289         289  344.257951  424.933687     0
290         290  379.185655  406.982337     0
291         291  337.102473  496.551724     0
292         292  335.869565  382.608696     0
293         293  249.169606  423.023865     0
294         294  355.300290  321.882342     0
295         295  440.459364  405.835544     0
296         296  364.033598  453.277299     0
297         297  554.681946  379.310337     2
298         298  358.568905  370.822281     0
299         299  541.353383  444.360902     0
300         300  422.016791  342.352930     0
301         301  553.356890  335.809019     0
302         302  298.939929  410.610080     0
303         303  415.117001  429.625328     2
304         304  865.735427  413.804933     2
305         305  485.479240  388.554989     2
306         306  403.621876  388.859408     0
307         307  522.306184  338.625668     0
308         308  755.141333  345.676388     2
309         309  628.607218  383.175102     0
310         310  281.448763  332.625995     0
311         311  526.325088  436.074271     2
312         312  384.010601  402.652520     2
313         313  351.180384  422.380133     0
314         314  690.296766  378.093448     0
315         315  400.360839  371.162769     0

[316 rows x 4 columns]

In [10]:
pickle_file.keys()

['single_images_00', 'single_images_01', 'single_images_03']

In [11]:
content = pickle_file.keys()
selection = 'zebrasingleimage'
filtered_keys = filter(lambda k: selection in k, content)
filtered_keys
#Puedo hacer esto mismo para la otra condicion y unir las dos listas de keys validas
#teniendo las keys puedo ya sea iterar entre las keys y leer cada file . 
#O una soluci'on mas sucia seria iterar sobre todo el pickle en un for y poner la condicion de que si es zebra ejecute sino que sontinu'e ocn la sgte iter

[]